<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/header::header}"></head>

    <body>
        <h3>Edit Contact </h3>
        <div th:replace="~{fragments/navigation::navlist}"></div>

    <form action="/edit" th:object="${contact}" method="post">
        <input type="hidden" th:field="*{id_contact}"/>
        <label for="contactName">Name</label>
        <input type="text" id="contactName" name="contactName" th:field="*{contactName}">
        <label for="contactNumber">Phone</label>
        <input type="text" id="contactNumber" name="contactNumber" th:field="*{contactNumber}">
        <label for="contactMail">Mail</label>
        <input type="text" id="contactMail" name="contactMail" th:field="*{contactMail}">
        <button type="submit">Add</button>
        <a href="/">Go Back</a>
    </form>
    </body>
</html>
